@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;500&family=Unbounded&display=swap');

body{
    font-size :17px;
    
/* background-image: url("./37368.jpg"); */
    background-size :cover; 
background-color: rgba(0,0,0,0.8);
    

}
*{
    margin :0;
    padding :0;
    box-sizing :border-box;
}
.margin-15{
margin :20px 20px;

}
.main-container .header-section{
    display :flex;
    justify-content :flex-end; 
    /* background-color: red; */
    width :100%;
    height :80px;
    position :relative;
    margin-right :10px;
    
}
.main-container .header-section .logo{
    width :50px;
    height :50px;
    border-radius :50px;
    position :absolute;
    top :20px;
    left :200px;
    text-align:center;
    border :2px solid rgba(32, 219, 32, 0.9);
}

.main-container .header-section .logo p{
    margin-top :6px;
    font-size :24px;
font-weight :900;
    font-family: "Poppins",sans-serif;
    color: rgba(0,255,0,0.9);
}

.main-container .header-section .nav-links{
    margin-right :100px;
    margin-top :20px;
}
.main-container .header-section .nav-links a{
    
padding :20px 20px 10px 20px;
    /* background-color:purple; */
    margin-top :20px;
    text-decoration :none;
    color :floralwhite;
    font-weight :700;    
    font-family :"Poppins",sans-serif;
    font-size :14px;
     transition :all 0.3s ease;
}
.main-container .header-section .nav-links a:hover{
    color:#9CFF2E;
    border-bottom :1px solid rgba(0,255,0,0.9);
}
.main-container .header-section .nav-links button{
    margin-left :20px;
padding :6px 30px;
    border-radius :20px;
    font-size :14px;
    color :rgba(0,255,0,0.9);
    border :1px solid rgba(0,255,0,0.9);
    font-family: "Poppins",sans-serif;
    background-color:rgba(127,127,127,0.0);
    font-weight:700;
    transition :all 0.3s ease;
}
.main-container .header-section .nav-links button:hover{
    background-color:rgba(0,255,0,1.10);
color:rgba(255,255,255,0.9);
text-shadow :0px 0px 5px black;
}
.main-container .header-section .nav-links .contactme:hover{
    border:none;
}
.main-container .greeting-section{
    color:white;
    margin-left :200px;
    margin-top :120px;
/* background-color:green; */
    width :1100px;
    height :300px;
    position :relative;

}
.main-container .greeting-section img{
    width :310px;
    height :200px;
    position :absolute;
    right :50px;
    top :10px;
    border :none;
    box-shadow :0px 0px 50px black;

}
.main-container .greeting-section h2{
    font-family :"Poppins",sans-serif;
    font-size :30px;
    word-spacing :4px;
    letter-spacing:2px;

}
.main-container .greeting-section h2 span{
    font-family :"Clicker Script",cursive;
    letter-spacing :2px;
    font-size :30px;
    font-weight :900;
    color:#9CFF2E;

}
.main-container .greeting-section p{
    margin-top : 40px;
    font-family :"Poppins",sans-serif;
    font-weight :600;
} 
.main-container .greeting-section h2 p{
    letter-spacing :2px;
}
.main-container .greeting-section h2 .typing{
    font-family :"Poppins",sans-serif;
}
.main-container .greeting-section .buttons{
    /* background-color:purple; */
    margin-top :20px;
    width :400px;
    height :100px;
    display :flex;
    align-items:center;
}
.main-container .greeting-section .buttons button{
    width :130px;
    height :50px;
    margin-right :30px;
    font-family :"Poppins",sans-serif;
    font-weight :600;
    color:white;
    background-color:rgba(0,255,0,0.8);
    border :none;
    border-radius :30px;
    transition :all 0.2s ease;
    font-size :13px;

}
.main-container .greeting-section .buttons .hire-me{
    background-color:rgba(127,127,127,0.0);
    border :1px solid rgba(0,255,0,0.5);
    color: rgba(0,255,0,0.9);
    letter-spacing: 1px;
    text-shadow :0px 0px  5px black;
}

.main-container .greeting-section .buttons button:hover{
    background-color: rgba(0,255,0,0.8);
    transform :scale(1.03);
    color:white;
    box-shadow  :0px 0px 1px lightgreen;
    text-shadow  :0px 0px 3px black;

}
.main-container .greeting-section .buttons .hire-me:hover{
    transform :scale(1.07);
}
.main-container .greeting-section .social-icons{
    width :150px;
    height :60px;
}
.main-container .greeting-section .social-icons .icon-1{
    width: 38px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 241px;
    margin-left: 1px;
}
.main-container .greeting-section .social-icons .icon-2{
    width: 29px;
    height: 27px;
    position: absolute;
    left: 45px;
    top: 245px;
}

.about-me-section{
    height :100vh;
    width :100%;
}
.about-me-section .about-me-content{

}
.about-me-section .about-me-content .about-me-title{
    /* background-color:green; */
}
.about-me-section .about-me-content .about-me-title h2{
    color:rgba(255,255,255,0.9);
    margin-top :20px;
    margin-left :40px;
    font-family :"Poppins",sans-serif;
    font-size :30px;

}
.about-me-section .about-me-content .about-me-title .first-line{
    width :130px;
    height :4px;
    background-color:rgba(0,255,0,0.9);
    border-radius :5px;
    margin:6px 40px;
}
.about-me-section .about-me-content .about-me-title .second-line{
    width :90px;
    height :4px;
    background-color:rgba(0,255,0,0.9);
    border-radius :5px;
    margin:6px 40px;
}
.about-me-section .author-greeting-section{
    color:white;
    margin-top :40px;
    margin-left:37px;
}
.about-me-section .author-greeting-section h3{
   margin-bottom :20px;
   font-family :"Poppins",sans-serif;
   font-weight :400;
   word-spacing :3px;
   
}
.about-me-section .author-greeting-section h3 span{
    font-weight :700;
    font-size :22px;
    text-shadow :0px 0px 10px black;
}
.about-me-section .author-greeting-section .profession{
    color:rgba(0,255,0,0.9);
}
.about-me-section .author-greeting-section p{
    line-height :1.5;
    word-spacing :1px;
    font-size :15px;
    font-family :"Poppins",sans-serif;
}
.author-info-section{
    color:white;
    display:flex;
    
    /* background-color: purple; */
    /* justify-content :flex-start;
    align-items:flex-start; */
margin-left:55px;

    
    
}
.author-info-section .author-info{
    flex :0 0 70%;
    max-width :60%;
   position :relative; 
       
}
.author-info-section .skill-bar-section{
    flex :0 0 40%;
    max-width :40%;
    /* background-color:red; */
}
.author-info-section .author-info .first-info-section{
    flex : 0 0 50%;
    max-width :50%;
}
.author-info-section .author-info .second-info-section{
    flex : 0 0 50%;
    width :390px;
    height :230px;
    position :absolute;
    top:0;
    right :0;

}
.about-me-section .author-info-section .author-info .info-item{
flex : 0 0 50%;
width :300px;
padding : 17px 10px 8px 10px;
margin-bottom :2px;
border-bottom :1px solid rgba(127,127,127,0.2);
transition :all 0.3s ease;

}
.about-me-section .author-info-section .author-info .info-item:hover{
background-color:rgba(0,255,0,0.2);
border-bottom : 1px solid rgba(0,255,0,0.1);
transform :scale(1.0.5);
font-weight :800;
border-bottom :1px solid rgba(127,127,127,0.5);
}
.about-me-section .author-info-section .author-info .info-item span{
    font-weight :700;
    margin-right :20px;
    font-family :"Poppins",sans-serif;
    color:rgba(0,255,0,0.8);
}
.about-me-section .author-info-section .author-info .info-item h3{
    font-weight :400;
    font-size :14px;
font-family :"Poppins",sans-serif;
}
.about-me-section .author-info-section .buttons button{
  width :120px;
  height :40px;
  margin-top :40px;
  font-family :"Poppins",sans-serif;
  font-weight :600;
  background-color :rgba(0,255,0,0.7);
  color :antiquewhite;
  border :1px solid rgba(0,255,0,0.2);
  text-align :center;
  margin-right :20px;
  border-radius :20px;
  text-shadow :0px 0px 20px black;
}
.about-me-section .author-info-section .buttons button:hover{
    transform :scale(1.03);
    box-shadow  :0px 0px 8px black;

}
.about-me-section .skill-bar-section{
    flex :0 0 30%;
    max-width :30%;
}
.about-me-section .skill-bar-section .skill-bar{
    margin-bottom :20px;
    width :100%;
    height :70px;
    /* background-color:purple;    */
    transition :all 0.3s ease;
}

.about-me-section .skill-bar-section .skill-bar .header{
    width :100%;
    height :15px;
    /* background-color:purple; */
    position :relative;
   margin-bottom :20px; 
}
.about-me-section .skill-bar-section .skill-bar .header h4,
.about-me-section .skill-bar-section .skill-bar .header p{
    font-size :16px;
    font-family :"Poppins",sans-serif;
}
.about-me-section .skill-bar-section .skill-bar .header h4{
    position :absolute;
    left :0;
}
.about-me-section .skill-bar-section .skill-bar .header p{
    position :absolute;
    color:rgba(0,255,0);
    font-weight :700;
    right :0;
}
.about-me-section .skill-bar-section .skill-bar .meter-bar{
    width :100%;
    height :6px;
    background-color:grey;
    border-radius :5px;
}
.about-me-section .skill-bar-section .skill-bar .meter-progress{
    height :6px;
    background-color:rgba(0,255,0);
    border-radius :7px;
}
.about-me-section .skill-bar-section .skill-bar .meter-progress1{
    width :55%;
}
.about-me-section .skill-bar-section .skill-bar .meter-progress2{
    width :45%;
}
.about-me-section .skill-bar-section .skill-bar .meter-progress3{
    width :30%;
}

.another-section{
    display :flex;
    flex :0 0  100%;
    justify-content: center;
    align-items: flex-start;
    /* background-color :red; */
    width :100%;
    margin-top :20px;

}
.another-section .container1{
    flex : 0 0 30%;
    max-width :30%;
    /* background-color:red; */
    margin-top :20px;
    justify-content :center;
    margin-left :60px;
}
.another-section .container1 .box1{
    width :70%;
    height :340px;
    font-family :"Poppins",sans-serif;
    color:white;
    font-size :15px;
    text-align:start;
    background-color:rgba(0,0,0,0.8);
    padding :10px 20px;
    line-height :1.2;
    font-weight :500;
    box-shadow :0px 0px 40px black;
    transition :all 0.4s ease;

}
.another-section .container1 .box1:hover{
    margin-top :-10px;
}
.another-section .container1 .box1 h4{
    margin-bottom :10px;
    font-size :21px;
    color:rgba(0,255,0,0.9);

}
.another-section .container1 .box1 h4 p{
    line-height: 3;
    word-spacing :2px;
}
.another-section .container2{
    flex : 0 0 30%;
    max-width :30%;
    /* background-color:green; */
    margin-top :20px;
    margin-left :20px;
}
.another-section .container2 .box2{
    width :70%;
    height :340px;
    font-family :"Poppins",sans-serif;
    color:white;
    font-size :15px;
    text-align:start;
    background-color:rgba(0,0,0,0.8);
    padding :10px 20px;
    line-height :1.2;
    font-weight :500;
    box-shadow :0px 0px 40px black;
     transition :all 0.4s ease;
    

}
.another-section .container2 .box2:hover{
    margin-top :-10px;
}
.another-section .container2 .box2 h4{
    margin-bottom :10px;
    font-size :21px;
    color:rgba(0,255,0,0.9);
}
.another-section .container2 .box2 h4 p{
    line-height: 3;
    word-spacing :2px;
}
.another-section .container3{
    flex :0 0  30%;
    max-width :30%;
    margin-top :20px;
    margin-left :20px;

}
.another-section .container3 .box3{
    width :70%;
    height :340px;
    font-family :"Poppins",sans-serif;
    color:white;
    font-size :15px;
    text-align:start;
     background-color:rgba(0,0,0,0.8);
    padding :10px 20px;
    line-height :1.2;
    font-weight :500;
    box-shadow :0px 0px 40px black;
     transition :all 0.4s ease;
}
.another-section .container3 .box3:hover{
    margin-top :-10px;
}
.another-section .container3 .box3 h4{
    margin-bottom :10px;
    font-size :21px;
    color:rgba(0,255,0,0.9);
}
.another-section .container3 .box3 h4 p{
    line-height: 3;
    word-spacing :2px;
}
.services-header{
    margin-top :30px;
    margin-left :55px;
    width :100%;
    height :60px;
    /* background-color:green; */
}
.services-header h2{
    font-size :30px;
    font-family :"Poppins",sans-serif;
    font-weight :600;
    color:rgba(255,255,255,0.9);
}
.services-header .first-line{
    width :130px;
    height :4px;
    background-color:rgba(0,255,0,0.9);
    border-radius :5px;
}
.services-header .second-line{
    width :90px;
    height :4px;
    background-color:rgba(0,255,0,0.9);
    border-radius :5px;
    margin-top :4px;
}
.services-container{
    display:flex;
    align-items :center;
    justify-content:center;
    max-width :100%;
    /* background-color:green; */
}
.services-container .first-division-section{
    flex:0 0  50%;
    width :100px;
    /* background-color:red; */
}

.services-container .second-division-section{
    flex:0 0  50%;
    width :100px;
    /* background-color:purple; */
}
.services-container .item-box{
       width :460px;
       height :300px;
       margin :40px auto 60px auto;
       background-color:rgba(0,0,0,0.8);
       padding :15px 15px;
       border-radius:10px;
       color:aliceblue;
       font-size :15px;
       line-height :1.5;
       font-weight :200;
       border :1px solid rgb(0,0,10);
    box-shadow :0px 0px 10px black;
    transition :all 0.3s ease;
}
.services-container .item-box:hover{
    transform:scale(1.01);
       background-color:rgba(0,0,0,0.9);
    box-shadow :0px 0px 20px black;
}
.services-container .item-box .icon img{
    margin-left: 190px;
    width :45px;
    height :47px;
    background-color:rgba(0,255,0,0.7);
    padding :8px 6px;
    border-radius:40px;
}
.services-container .item-box .icon img:hover{
    box-shadow :0px 0px 20px rgba(0,255,0,0.7);
    border:none;
    background-color:rgba(0,255,0,0.9);
    transform :scale(1.01);
}
.services-container .item-box .text-section h4{
    font-size :18px;
    font-weight :500;
}
.services-container .item-box .text-section h4,
.services-container .item-box .text-section p{
    font-family:"Poppins",sans-serif;
    padding:10px;
    text-align:center;
}
/* .services-container .item-box .text-section h4{
    text-align:center;
    padding:10px;
}
 */
 .contact-me-section{
    margin-left :50px;
margin-top :15px;
 }
 .contact-me-section .contact-me-header h3{
    font-size :30px;
    color:rgba(255,255,255,0.9);
    font-family :"Poppins",sans-serif;
    letter-spacing :1px;
 }
 .contact-me-section .contact-me-header .first-line{
    width :130px;
    height :4px;
    background-color:rgba(0,255,0,0.9);
    border-radius :5px;
    margin-bottom :5px;
}
.contact-me-section .contact-me-header .second-line{
    width :90px;
    height :4px;
    background-color:rgba(0,255,0,0.9);
    border-radius :5px;
}
.question-and-answer{
    width :100%;
    height :100px;
    /* background-color:green; */
    margin-top :10px;
    padding :10px 40px;
    font-family :"Poppins",sans-serif;
    color:rgba(0,255,0,0.9);
    font-weight :600;
    text-transform: uppercase;
    text-shadow :0px 0px 10px black;
}
.question-and-answer h4{
    padding :10px;
    font-size :25px;
    text-align:center;
    word-spacing :2px; 
}
.question-and-answer p{
    text-align:center;
    color:rgba(255,255,255,0.9);
}
.info-log-section{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top:30px;

}
.info-log-section .logo-section{
    flex:0 0  25%;
    max-width :25%;
    padding :20px;
    text-align:center;
    transition :all 0.3s ease;
}
.info-log-section .logo-section:hover{
    background-color :rgba(0,0,0,0.4);
    border-radius :5px;
    transform :scale(1.03);
}
.info-log-section .logo-section .logo-image{
    background-color:rgba(0,255,0,0.9);
    height :50px;
    width :50px;
    margin-left :125px;
   margin-bottom :10px; 
    border-radius:30px;   
    box-shadow :0px 0px 20px black;
}
.info-log-section .logo-section .logo-image img{
    width :30px;
    height :30px;
    margin-top :9px;   
}
.info-log-section .short-info h4{
    font-size :20px;
    font-family :"Poppins",sans-serif;
    font-weight :800;
    color:rgba(255,255,255,0.9);
}
.info-log-section .short-info p{
    font-weight :300;
    margin-top :5px;
    font-size :15px;
    font-family: "Poppins",sans-serif;
    color:white;

}
.input-section{
    margin-top :40px;
    display:flex;
    margin-left:55px;
    flex :0 0  100%;
    max-width:100%;
}
.input-section input{
    flex:0 0  20%;
    max-width:20%;
    margin-left:20px;
    height :50px;
    border-radius :40px;
    border:none;
    background-color:rgb(7, 3, 3,0.9);
    font-family :"Poppins",sans-serif;
    text-align: left;
    font-size :14px;
    color:rgb(202, 200, 200);
    padding :10px 20px;
    box-shadow :0px 0px 5px black;
    transition :all 0.3s ease;
}
.input-section input:hover,
.addition-andsend textarea:hover{
    box-shadow :0px 0px 20px black;

}


.addition-andsend{
    display:flex;
    margin-left :60px;
    width:100%;
    height :100px;
    margin-top :20px;
    position :relative;
}
.addition-andsend textarea{
    width :700px;
    height :100%;
    background-color:rgb(7, 3, 3,0.9);
    margin-left :20px;
    border-radius :10px;
    border :none;
    box-shadow :0px 0px 5px black;
    padding:10px;
    font-family: "Poppins",sans-serif;
    color:white;
}
.addition-andsend button{
    width :120px;
    height :40px;
    font-family :"Poppins",sans-serif;
    font-weight :600;
    background-color :rgba(0,255,0,0.7);
    color :antiquewhite;
    border :1px solid rgba(0,255,0,0.2);
    text-align :center;
    margin-right :20px;
    border-radius :20px;
    text-shadow :0px 0px 20px black;
    position :absolute;
    left :600px;
    top :30px;

}
.send{
    margin-top :20px;
    margin-left :75px;
    width :130px;
    height :45px;
    margin-bottom :20px;
    border-radius :30px;
    background-color:rgba(0,255,0,0.7);
    font-weight :500;
    font-family:"Poppins",sans-serif;
    font-size :18px;
    color:white;
    border:none;
    text-shadow :0px 0px 5px black;
    transition :all 0.2s ease;
}
.send:hover{
    transform :scale(1.04);
    box-shadow :0px 0px 10px black;
    text-shadow :0px 0px 10px black;
}